:root {
  --light1 : #feffdb;
  --light2 : #ffc60b;
  --light3 : #ff8b00;
  --light4 : #444444;
}

body{
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: var(--light1);
  font-family: 'Poppins', sans-serif;
}

.header{
  background: var(--light4);
  color: var(--light3);
  box-shadow: 0px 0px 10px var(--light3);
}

.logo {
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 1em 0;
  font-size: 1.5rem;
}

.search-input {
  border-radius: 10px;
  background: var(--light1);
  border: 1px solid var(--light2);
  
}

.search-input:focus{
  background: var(--light2);
  color: var(--light4);
  box-shadow: 0px 0px 10px  var(--light2);
}

.fa-search {
  color: var(--light4)
}