:root {
  --light1 : #feffdb;
  --light2 : #ffc60b;
  --light3 : #ff8b00;
  --light4 : #444444;
}

body{
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: var(--light1);
  font-family: 'Poppins', sans-serif;
}

.header{
  background: var(--light4);
  color: var(--light3);
  box-shadow: 0px 0px 10px var(--light3);
  text-align: center;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  padding: 0;
}

.credits{
  padding: 0;
  margin: 0;
}

.search-input {
  border-radius: 10px;
  background: var(--light1);
  border: 1px solid var(--light2);
  
}

.search-input:focus{
  background: var(--light2);
  color: var(--light4);
  box-shadow: 0px 0px 10px  var(--light2);
}

.fa-search {
  color: var(--light4)
}

.feed {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.container-items {
  color: var(--light3);
  text-shadow: 0px 0px 1px var(--light4);
  letter-spacing: .05rem;
  width: 400px;
  font-size: 1rem;
  margin: 1em 1em;

  
}

.container-items img {
  width: 100%;
  box-shadow: 0px 0px 10px var(--light4);
}

.container-items img:hover{
  box-shadow: 0px 0px 20px var(--light3);
}



.container-details {
  text-align: center;
  width: 100%;
  margin: 3em 0;
  padding: 0 1em;
}

.container-details img {
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px var(--light4);
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.loadercenter {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}


@media (max-width: 959px) { 
  
  .feed {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }

 }